* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans";
}

.raleway {
  font-family: "Raleway";
}

.bold {
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 14px;
  background: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* nav section */

nav {
  height: 10vh;
  margin: 1rem 1rem 0;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-right ul {
  display: flex;
}

nav .nav-right ul li {
  padding: 0.5rem 1.5rem;
}

nav .nav-right ul li a {
  color: #ffffff;
}

/* hero section */
.hero {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  background: url("images/bg-curvy-desktop.svg") no-repeat;
  background-position: 0% 110%;
  background-size: 100vw auto;
}

.hero .hero-img {
  height: 50%;
  margin-top: 2rem;
}

.hero .hero-img img {
  height: 100%;
}

.hero .hero-headline {
  margin-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
  width: 30%;
  line-height: 2.5rem;
}

.hero .hero-copy {
  text-align: center;
  width: 25%;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.hero .hero-btn {
  margin-top: 2rem;
  padding: 0.7rem 1rem;
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  background: hsl(198, 60%, 50%);
}

/* features grid */
.features-grid {
  background: hsl(218, 28%, 13%);
  padding-bottom: 3rem;
}

.features-grid .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.features-grid .container .feature-box {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.features-grid .container .feature-box .feature-img {
  height: 90px;
}

.features-grid .container .feature-box .feature-img img {
  height: 100%;
}

.features-grid .container .feature-box .feature-headline {
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.features-grid .container .feature-box .feature-copy {
  margin-top: 0.8rem;
  text-align: center;
  width: 62%;
}

/* productive section */
.productive {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: hsl(218, 28%, 13%);
}

.productive .container {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.productive .container .productive-left .productive-image {
  width: 80%;
}
.productive .container .productive-left .productive-image img {
  width: 100%;
}

.productive .container .productive-right {
  align-self: center;
}

.productive .container .productive-right .productive-headline {
  font-size: 1.8rem;
  width: 60%;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.productive .container .productive-right .productive-copy p {
  width: 85%;
  margin-bottom: 1rem;
}

.productive .container .productive-right .productive-link {
  width: 150px;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.productive .container .productive-right .productive-link a {
  color: hsl(176, 68%, 64%);
}

.productive .container .productive-right .productive-link img {
  position: relative;
  top: 3px;
}

/* quotes section */
.quotes {
  padding: 3rem;
  background: hsl(218, 28%, 13%);
}

.quotes .container {
  background: url("images/bg-quotes.png") no-repeat;
  background-position: 0% 2%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

.quotes .container .quote {
  background: hsl(219, 30%, 18%);
  box-shadow: 0px 5px 15px rgba(32, 42, 60, 0.4);
  padding: 1.5rem 1rem;
}

.quotes .container .quote .quote-copy {
  width: 95%;
}

.quotes .container .quote .headshot {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.quotes .container .quote .headshot .headshot-img {
  height: 30px;
}
.quotes .container .quote .headshot .headshot-img img {
  height: 100%;
  border-radius: 50%;
}

.quotes .container .quote .headshot .headshot-info {
  font-size: 0.7rem;
  margin-left: 1rem;
}

/* early access section */
.early-access {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: hsl(218, 28%, 13%);
}

.early-access .wrapper {
  position: relative;
  top: 120px;
  margin: 0 auto;
  height: 240px;
  width: 55%;
  background: hsl(217, 28%, 15%);
  text-align: center;
}

.early-access .wrapper h3 {
  padding-top: 2.5rem;
  font-size: 1.5rem;
}

.early-access .wrapper p {
  width: 70%;
  font-size: 0.8rem;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.early-access .wrapper .form-group {
  padding-top: 1.5rem;
}

.early-access .wrapper .form-group input {
  width: 50%;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
}

.early-access .wrapper .form-group button {
  padding: 0.7rem 1rem;
  margin-left: 1rem;
  width: 30%;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  background: hsl(198, 60%, 50%);
}

/* footer */
footer {
  background: hsl(216, 53%, 9%);
}

footer .container {
  padding: 8rem 2rem 2rem;
}

footer .footer-mid {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

footer .footer-mid .address {
  flex: 2;
  display: flex;
}

footer .footer-mid .address p {
  margin-left: 1rem;
  width: 75%;
}

footer .footer-mid .contact-info {
  flex: 2;
}

footer .footer-mid .contact-info .phone,
footer .footer-mid .contact-info .email {
  display: flex;
}

footer .footer-mid .contact-info .phone p,
footer .footer-mid .contact-info .email p {
  margin-left: 1rem;
}

footer .footer-mid .contact-info .email {
  margin-top: 0.5rem;
}

footer .footer-mid .links1 {
  flex: 1;
}

footer .footer-mid .links2 {
  flex: 1;
}

footer .footer-mid .links1 li,
footer .footer-mid .links2 li {
  margin-bottom: 0.5rem;
}

footer .footer-mid .links1 a,
footer .footer-mid .links2 a {
  color: #ffffff;
}

footer .footer-mid .social {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

footer .footer-mid .social div {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin: 0 0.5rem;
  text-align: center;
}

.icon-color {
  position: relative;
  top: 5px;
  color: #ffffff;
  font-size: 0.8rem;
}

@media (max-width: 1000px) {
  .early-access .wrapper .form-group button {
    width: 35%;
    font-size: 0.7rem;
  }

  .productive .container .productive-right .productive-headline {
    width: 80%;
  }

  .hero {
    height: 90vh;
  }

  .hero .hero-img {
    height: 40%;
    margin-top: 0rem;
  }

  .hero .hero-headline {
    width: 50%;
  }

  .hero .hero-copy {
    width: 50%;
  }
}

@media (max-width: 600px) {
  nav {
    margin: 0rem 0.5rem 0;
    padding: 0 0.7rem;
  }

  nav .nav-left {
    height: 50%;
  }

  nav .nav-left img {
    height: 100%;
  }

  nav .nav-right ul li {
    padding: 0.5rem 0.8rem;
  }

  .hero {
    background: url("images/bg-curvy-mobile.svg") no-repeat;
    background-position: 0% 100%;
    background-size: 100vw auto;
  }

  .hero .hero-img {
    height: 30%;
  }

  .hero .hero-headline {
    width: 85%;
  }

  .hero .hero-copy {
    width: 85%;
  }

  .hero .hero-btn {
    width: 80%;
  }

  .features-grid .container {
    grid-template-columns: 1fr;
  }

  .features-grid .container .feature-box .feature-img {
    height: 70px;
  }

  .features-grid .container .feature-box .feature-copy {
    width: 85%;
  }

  .productive .container {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  .productive .container .productive-left .productive-image {
    margin: 0 auto;
  }

  .productive .container .productive-right .productive-headline {
    width: 85%;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .productive .container .productive-right .productive-copy p {
    width: 90%;
  }

  .quotes {
    padding: 2rem;
  }

  .quotes .container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .early-access {
    padding: 2rem 0;
  }

  .early-access .wrapper {
    width: 85%;
    top: 100px;
    height: 320px;
  }

  .early-access .wrapper .form-group input {
    width: 80%;
  }

  .early-access .wrapper .form-group button {
    width: 80%;
    margin-left: 0;
    margin-top: 0.9rem;
  }

  footer .footer-logo {
    height: 50px;
  }

  footer .footer-mid {
    flex-direction: column;
  }

  footer .footer-mid .address p {
    width: 80%;
    margin-left: 1.5rem;
  }

  footer .footer-mid .contact-info {
    margin-top: 1.5rem;
  }

  footer .footer-mid .contact-info .phone p,
  footer .footer-mid .contact-info .email p {
    margin-left: 1.5rem;
  }

  footer .footer-mid .contact-info .email {
    margin-top: 1.5rem;
  }

  footer .footer-mid .links1 {
    margin-top: 3rem;
  }

  footer .footer-mid .links2 {
    margin-top: 3rem;
  }

  footer .footer-mid .social {
    justify-content: center;
    margin-top: 2rem;
  }
}
